# Replace the placeholders below with your actual API keys and credentials

VECTARA_API_KEY=your_vectara_api_key_here
VECTARA_CUSTOMER_ID=your_customer_id_here
VECTARA_CORPUS_ID=comma_separated_corpus_ids_here
OPENAI_API_KEY=your_openai_api_key_here
GROQ_API_KEY=your_groq_api_key_here
VECTARA_AGENTIC_AGENT_TYPE=REACT
VECTARA_AGENTIC_MAIN_LLM_PROVIDER=GROQ
VECTARA_AGENTIC_TOOL_LLM_PROVIDER=GROQ
NEWS_API_KEY=your_news_api_key_here
